<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  	<servlet>
    <servlet-name>EmployerController</servlet-name>
    <servlet-class>controller.EmployerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerController</servlet-name>
    <url-pattern>/employerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobseekerController</servlet-name>
    <servlet-class>controller.JobseekerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobseekerController</servlet-name>
    <url-pattern>/jobseekerController</url-pattern>
  </servlet-mapping>
</web-app>